// Media Queries
@mixin desktop {
    @media (min-width: 570px) {
        @content;
    } 
}

@mixin mobile {
    @media (max-width: 570px) {
        @content;
    }
}

@mixin mobile-small {
    @media (max-width: 400px) {
        @content;
    }
}

// Colors
$colorChangePercentage: 3%;
$colorWhite: #fff;
$colorGray: darken($colorWhite, $colorChangePercentage * 2);
$colorDarkGray: darken($colorGray, 50%);
$colorDark: darken(#263238, $colorChangePercentage);
$colorBlue: #3F51B5;
$colorLightBlue: #2962FF;
$colorRed: #F50057;
$colorLightRed: #F44336;
$colorGreen: #00897B;
$colorLightGreen: #00E676;
$colorYellow: #FFD600;
$colorLightYellow: #FFEA00;
$colorPurple: #4527A0;
$colorLightPurple: #5E35B1;

// Material design shadows
$shadow1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$shadow5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

// Transitions
$durFast: 100ms;
$durShort: 200ms;
$durMedium: 350ms;
$durLong: 600ms;
$durExtraLong: 900ms;
$easing: cubic-bezier(.55, 0, .1, 1);
