<div class="header">
    <div>
        <ul>
            <a href="index.html"><li class="{{#if current_home}}current{{/if}}">Home</li></a>
            <a href="umfrage.html"><li class="{{#if current_umfrage}}current{{/if}}">Umfrage</li></a>
            <a href="vergleich.html"><li class="{{#if current_vergleich}}current{{/if}}">Vergleich</li></a>
            <a href="interview.html"><li class="{{#if current_interview}}current{{/if}}">Interview</li></a>
            <a href="fotoreportage.html"><li class="{{#if current_fotoreportage}}current{{/if}}">Fotoreportage</li></a>
            <a href="arbeit.html"><li class="{{#if current_arbeit}}current{{/if}}">Arbeit</li></a>
        </ul>
    </div>
    <div>
        <h1>Vertiefungsarbeit 2016</h1>
    </div>
</div>
