<div class="Header">
    <div>
        <ul>
            <li class="{{#if current_home}}current{{/if}}"><a href="/">Home</a></li>
            <li class="{{#if current_umfrage}}current{{/if}}"><a href="/umfrage">Umfrage</a></li>
            <li class="{{#if current_vergleich}}current{{/if}}"><a href="/vergleich">Vergleich</a></li>
            <li class="{{#if current_interview}}current{{/if}}"><a href="/interview">Interview</a></li>
            <li class="{{#if current_ueberuns}}current{{/if}}"><a href="/ueberuns">Über uns</a></li>
        </ul>
    </div>
    <div>
        <h1>Vertiefungsarbeit 2016</h1>
    </div>
</div>
