<div class="section">
<h1>Inhaltliche Erkenntnisse</h1>
<p>Natürlich haben wir alle sehr viel über Elektroautos gelernt. Wir wissen nun bestens Bescheid über die Auswirkungen von Elektroautos auf die Umwelt bescheid.
Der Unterschied zwischen Benzinern und Elektrowagen war uns schon vorher bekannt, jedoch haben wir noch viel dazu gelernt.
Was mir (Leonard) vorher nicht bekannt war, war dass Elektroautos unter dem Strich wirklich umweltfreundlicher sind. Ich dachte immer das die Produktion des Stromes für das Elektroauto etwa gleich viel Energie verbraucht wie das verbrennen von Benzin. Dem ist aber nicht so.</p>
<p>Was uns gewaltig überrascht hat, ist die Geschichte der Elektroautos. Wir hätten nie gedacht, dass das erste Elektroauto bereits 1837 auf den Strassen Schottlands unterwegs war. Es war ein relativ rudimentäres Gefährt, stosste jedoch den Ball in die richtige Richtung.</p>
<h1>Schlusswort</h1>
<p>Wir haben in dieser Arbeit primär über die Unterschiede der Elektroautos zu den Benzinern geschrieben. Auch wurden Themen wie der Treibhauseffekt, Sicherheit und die Geschichte von Elektroautos besprochen. Es wurde eine Umfrage durchgeführt, welche leider weniger Personen ausgefüllt haben als wir uns erhofft haben.</p>
<p>Der grösste Unterschied zu anderen Arbeiten in unserem Jahrgang, war die Form in welcher wir sie abgegeben haben. Grundsätzlich wurde ein einfaches Word-Dokument erwartet. Wir haben das ganze an unseren Beruf und unsere bisherigen Erfahrungen angepasst und die Arbeit nun als öffentlich zugängliche Website geschrieben. Dies hatte viele Vorteile. Wir konnten unsere Web-Kenntnisse verbessern und konnten vielen Problemen aus dem Weg gehen die wir mit Microsoft Word gehabt hätten (<em>hust</em> Bilder richtig anordnen <em>hust</em>).</p>
<p>Wir haben die ganze Arbeit auf GitHub unter Versionsverwaltung gehalten. Dies half immens, da wir so immer auf alte Versionen der Dokumente zugreifen konnten. Wenn also etwas schief gelaufen ist, hatten wir sofort die Möglichkeit die Dateien in Ihren alten Zustand zu versetzen.</p>
<p>Leider konnten wir nicht zwei Interviews durchführen, da wir niemanden fanden der bereits ein Elektroauto besitzt. Wir werden in unserer nächsten Arbeit besser auf die Zeitplanung etc. achten.</p>
<h1>Positives</h1>
<p>Was hat am besten funktioniert? Welche Themen hatten wir am schnellsten? Wo haben wir am meisten gelernt?</p>
<h2>Leonard</h2>
<p>Das Aufbauen der Website hat meiner Meinung nach am besten geklappt. Es dauerte etwa zwei bis drei Tage bis wir die Website an einem Punkt hatten, so dass wir einfach neuen Inhalt hinzufügen konnten ohne noch stark etwas am Grundgerüst zu verändern.</p>
<p>Der Teil über den Treibhauseffekt war am schnellsten fertig. Im Internet fand ich eine grosse Anzahl von Ressourcen die mir halfen ein klares Bild davon zu bekommen.</p>
<p>Am meisten lernte ich über die Geschichte der Elektroautos. Ich hätte nie gedacht das diese so weit zurück führt. Das es bereits 1837 Elektroautos gab, war mir bisher nicht bewusst.</p>
<h2>Pascal</h2>
<p>Das Interview welches wir durchgeführt haben wahr sehr Informationsreich und zeigte mir was ein Elektroauto alles bewirken kann. Ich habe das gefühl das ich eine menge neues über Elektoautos und deren Umfeld gelernt habe.</p>
<h2>Oliver</h2>
<p>Die Interviewfragen waren sehr informationsreich und gleichzeitig auch schnell fertig gestellt. Wir wissen jetzt über die befragte Person Bescheid und haben auch einiges gelernt bezüglich dem Auto und den sonstigen Arbeiten, die Siemens mit dem Auto hat.</p>
<p>Die Fotoreportage war sehr schnell erledigt, da wir ein Elektroauto auf dem Siemens-Gelände haben. Wir mussten nur den Tag abwarten, an dem das Siemensauto auch an die Ladestation gehängt wurde. Das war regelmässiger als gedacht und somit konnten wir das auch abschliessen.</p>
<p>Vor der Arbeit wusste ich fast nichts zur Geschichte. Mittlerweile weiss ich schon sehr viel mehr und lernte auch viel neue, mir unbekannte Fakten kennen.</p>
<h1>Negatives</h1>
<p>Was hat weniger gut funktioniert? Bei welchen Themen hatten wir am meisten Probleme?</p>
<h2>Leonard</h2>
<p>Die Umfrage wurde leider von nicht so vielen Personen ausgefüllt. Wir hätten mehr erwartet. Möglicherweise werden wir nach der Abgabe der Arbeit noch ein paar Interessenten finden. Wird dies der Fall sein, werden wir die Arbeit noch entsprechend korrigieren.</p>
<p>Wir haben das Interview lange vor uns her geschoben. Wir wussten nicht genau welche Fragen wir stellen sollten.</p>
<h2>Pascal</h2>
<p>Wir hatten die Zeit nicht immer ganz im Auge und mussten dann am Schluss noch ein wenig sputen.</p>
<h2>Oliver</h2>
<p>Das Interview haben wir erst sehr spät durchgeführt. Jedoch klappte am Schluss auch das.</p>
</div>
