<div class="section">
<h1>Fotoreportage</h1>
<p>Wir haben ein Fotoreportage durchgeführt. Wir haben Bilder des BMW i3 am Siemens Standort in Zürich Altstetten aufgenommen. Aus den vielen Bildern ist unten eine kurierte Selektion die wir am besten fanden.</p>
<p><img src="reportage/backview.jpg" alt="backview" /></p>
<blockquote>
<p>Hinterseite des Wagens</p>
</blockquote>
<p><img src="reportage/cable.jpg" alt="cable" /></p>
<blockquote>
<p>Der BMW kann an jeder gewöhnlichen 230 Volt Steckdose aufgeladen werden. Das einzige was man braucht ist der richtige Adapter.</p>
</blockquote>
<p><img src="reportage/charger.jpg" alt="charger" /></p>
<blockquote>
<p>Die Siemens bietet insgesamt 4 Ladestationen an. Zwei in Zürich, eine in Walisellen und eine in Steinhausen. Jedoch dürfen diese Ladestationen nur von Mitarbeitern der Siemens oder von Mietern des Wagens benützt werden.</p>
</blockquote>
<p><img src="reportage/frontview.jpg" alt="frontview" /></p>
<blockquote>
<p>Der BMW i3 hat klare Ähnlichkeit mit dem BMW i9.</p>
</blockquote>
<p><img src="reportage/interior.jpg" alt="interior" /></p>
<blockquote>
<p>Von Innen sieht der BMW i3 wie ein gewöhnliches Auto aus.</p>
</blockquote>
<p><img src="reportage/sideviewleft.jpg" alt="sideviewleft" /></p>
<blockquote>
<p>Der BMW hat pro Seite zwei Türen. Diese öffnen in entgegengesetzte Richtungen. (Siehe nächstes Bild)</p>
</blockquote>
<p><img src="reportage/doorsopen.jpg" alt="doorsopen" /></p>
<blockquote>
<p>Bild des BMW i3 mit geöffneten Türen.</p>
</blockquote>
<p><img src="reportage/sideviewright.jpg" alt="sideviewright" /></p>
<p><img src="reportage/sideviewright2.jpg" alt="sideviewright2" /></p>
<p><img src="reportage/tire.jpg" alt="tire" /></p>
<blockquote>
<p>Der Wagen verwendet ganz normale Reifen.</p>
</blockquote>
</div>
