<div class="section">
<h1>Über uns</h1>
<p>Wir sind eine Gruppe von 3 Schülern der Technischen Berufsschule in Zürich.
Wir absolvieren eine Berufslehre als Informatiker in der Fachrichtung Applikationsentwicklung.
Diese Seite ist unsere Vertiefungsarbeit im Fach Allgemeinbildung.</p>
<p><img src="/tbz.jpg" alt="TBZ" /></p>
<h1>Vertiefungsarbeit</h1>
<p>Der Auftrag war, eine kleine bis Mittelgrosse Arbeit zu schreiben.
Das Thema dazu konnte frei gewählt werden, musste aber folgenden Rahmenbedingungen entsprechen:</p>
<ul>
<li>Das Thema muss etwas mit der Umwelt zu tun haben</li>
<li>Es muss ein Interview durchgeführt werden</li>
</ul>
<p>Zusätzlich zu diesen Bedingungen haben wir uns selbst folgende Ziele gesetzt:</p>
<ul>
<li>Eine öffentlich zugängliche Webseite gestalten, auf der alles was in der Zusammenfassung geschrieben wurde beinhaltet ist.</li>
<li>Wir werden einen Vergleich von Elektroautos und benzinbetriebenen Autos durchführen und dokumentieren</li>
<li>Eine Umfrage durchführen zur öffentlichen Meinung über Elektro-Autos und deren Gegenstück, die benzinbetriebenen Autos.</li>
</ul>
<h1>Arbeitsteilung</h1>
<p>So haben wir uns die Arbeit Anfangs eingeteilt, durchgeführt wurde sie höchstwarscheinlichst anders.</p>
<h2>Leonard Schütz</h2>
<ul>
<li>Programmierung der Website</li>
<li>Design der Website</li>
<li>Erfassen der Interview Fragen</li>
<li>Texte verfassen</li>
<li>Vergleich Elektroauto und Benzinauto</li>
</ul>
<h2>Pascal Luginbühl</h2>
<ul>
<li>Erfassen der Interview Fragen</li>
<li>Durchführen des Interviews</li>
<li>Texte verfassen</li>
<li>Programmierung der Website</li>
</ul>
<h2>Oliver Stalder</h2>
<ul>
<li>Erfassen der Interview Fragen</li>
<li>Durchführen des Interviews</li>
<li>Texte verfassen</li>
<li>Arbeits Dokumentation</li>
</ul>
<h1>Open Source</h1>
<p>Der gesamte Code und öffentliche Inhalt dieser Website ist <a href="https://github.com/KCreate/tbz-va-2016">hier</a> zum herunterladen und erkunden verfügbar.
Falls der obige Link nicht funktioniert, hat dies möglicherweise den Grund das wir Ihn noch nicht freigeschaltet haben.</p>
<h1>Impressum</h1>
<p>Copyright © (2016 - present) Leonard Schütz, Pascal Luginbühl, Oliver Stalder</p>
</div>
