<div class="section">
    <h1>Vorwort</h1>
    <p>
        Wir haben ein Interview Andreas Ruckstuhl geführt. Herr Ruckstuhl ist der Verantwortliche der Elektroautos für die Siemens Schweiz AG. Von ihm wollten wir folgende Fragen geklärt haben.
    </p>
    <ul>
        <li>Was ist Ihre Aufgabe in Bezug auf das Elektroauto?</li>
        <li>Wie viel Aufwand benötigt die Administration insgesamt und was sind die grössten Schwerpunkte auf die Sie sich fokusieren müssen?</li>
        <li>Warum haben sie sich konkret für den BMW i3 entschieden und nicht für ein anderes Modell. Wer hat die entscheidung getroffen und was waren die Gründe dahinter?</li>
        <li>Wieviele Modelle des BMW i3's besitzt die Siemens Schweiz?</li>
        <li>Wieviele Elektrowagen besitzt die Siemens weltweit.</li>
        <li>Benutzt die Siemens weltweit das gleiche Modell oder gibt es da Unterschiede?</li>
        <li>Wieviele Interessenten gibt es pro Monat?</li>
        <li>Was sind die drei häufigsten Gründe für die Reservation des Wagens?</li>
        <li>Ist es kompliziert eine Reservation zu machen oder gibt es dafür ein online-Formular?</li>
        <li>Darf das Auto nur an offizielen Ladestationen aufgeladen werden oder gibt es da Spielraum?</li>
        <li>Wieviele Ladestationen bietet die Siemens schweizweit an?</li>
        <li>Lohnte sich die Anschaffung des Wagen für die Siemens?</li>
        <li>Wird sich die Siemens in Zukunft weitere Modelle kaufen?</li>
        <li>Würden sie sich persönlich ein Elektroauto kaufen?</li>
    </ul>
    <h1>Interview</h1>
    <div class="interview">
        <h2>Was ist Ihre Aufgabe in Bezug auf das Elektroauto?</h2>
        <p>Ansprechpartner für den Standort WLN betreffend allen Themen rund ums E-Car (Reservation, Einführung, Service, Räderwechsel, Reinigung usw)</p>
    </div>
    <div class="interview">
        <h2>Wie viel Aufwand benötigt die Administration insgesamt und was sind die grössten Schwerpunkte auf die Sie sich fokusieren müssen?</h2>
        <p>Schwierig abzuschätzen, ca.1Stunde pro Woche (Beim Empfang für Reservationsbearbeitung und bei mir für die restlichen Themen)</p>
    </div>
    <div class="interview">
        <h2>Warum haben sie sich konkret für den BMW i3 entschieden und nicht für ein anderes Modell. Wer hat die entscheidung getroffen und was waren die Gründe dahinter?</h2>
        <p>Entscheidung für BMW i3 wurde vom Zentraleinkauf (SCM) gefällt, auf welchen Kriterien dies beruhte kann ich nicht sagen</p>
    </div>
    <div class="interview">
        <h2>Wieviele Modelle des BMW i3's besitzt die Siemens Schweiz?</h2>
        <p>Es sind 3Stk vorhanden (1xZRH, 1xWLN und 1xSteinhausen)</p>
    </div>
    <div class="interview">
        <h2>Wieviele Elektrowagen besitzt die Siemens weltweit.</h2>
        <p>Kann ich leider nicht beantworten, vielleicht weiss dies der Zentraleinkauf (SCM)</p>
    </div>
    <div class="interview">
        <h2>Benutzt die Siemens weltweit das gleiche Modell oder gibt es da Unterschiede?</h2>
        <p>Kann ich leider auch nicht beantworten</p>
    </div>
    <div class="interview">
        <h2>Wieviele Interessenten gibt es pro Monat?</h2>
        <p>Wir haben ca.15 Reservationen mit insgesamt 1‘200Km Laufleistung pro Monat</p>
    </div>
    <div class="interview">
        <h2>Was sind die drei häufigsten Gründe für die Reservation des Wagens?</h2>
        <p>Geschäftsfahrt nach ZRH oder Umgebung, Neugier auf das neue Fahrzeug, Private Benutzung</p>
    </div>
    <div class="interview">
        <h2>Ist es kompliziert eine Reservation zu machen oder gibt es dafür ein online-Formular?</h2>
        <p>Es ist ein entsprechendes Online Formular vorhanden, mit dem die Reservation sehr einfach über Outlook erfolgt</p>
    </div>
    <div class="interview">
        <h2>Darf das Auto nur an offizielen Ladestationen aufgeladen werden oder gibt es da Spielraum?</h2>
        <p>Das Fahrzeug kann an jeder handelsüblichen Steckdose (230V) und den meisten Ladestationen aufgeladen werden, es gibt keine spezielle Beschränkung</p>
    </div>
    <div class="interview">
        <h2>Wieviele Ladestationen bietet die Siemens schweizweit an?</h2>
        <p>4 Stk (2xZRH, 1xWLN und 1x Steinhausen) aber nur für internen Gebrauch (Angabe ohne Gewähr…)</p>
    </div>
    <div class="interview">
        <h2>Lohnte sich die Anschaffung des Wagen für die Siemens?</h2>
        <p>Wirtschaftlich lohnt es sich nicht, wurden aus Ökologischen Gründen (Green Siemens) beschafft</p>
    </div>
    <div class="interview">
        <h2>Wird sich die Siemens in Zukunft weitere Modelle kaufen?</h2>
        <p>Kann noch nicht beantwortet werden, wird die Zeit aufzeigen</p>
    </div>
    <div class="interview">
        <h2>Würden sie sich persönlich ein Elektroauto kaufen?</h2>
        <p>Fände es für kurze Strecken (z.Bsp. Pendelverkehr Wohnort-Arbeitsort) sehr sinnvoll, ich müsste aber für längere Strecken und grössere Transporte ein zweites Fahrzeug beschaffen/unterhalten, deswegen Nein</p>
    </div>
</div>
