<div class="section">
    <h1>Vorwort</h1>
    <p>
        Wir haben ein Interview mit der Zuständigen Person für die Elektroautos der Siemens Schweiz AG geführt. Wir wollten folgende Fragen geklärt haben:
    </p>
    <ul>
        <li>Was ist Ihre Aufgabe in Bezug auf das Elektroauto?</li>
        <li>Wie viel Aufwand benötigt die Administration insgesamt und was sind die grössten Schwerpunkte auf die Sie sich fokusieren müssen?</li>
        <li>Warum haben sie sich konkret für den BMW i3 entschieden und nicht für ein anderes Modell. Wer hat die entscheidung getroffen und was waren die Gründe dahinter?</li>
        <li>Wieviele Modelle des BMW i3's besitzt die Siemens Schweiz?</li>
        <li>Wieviele Elektrowagen besitzt die Siemens weltweit.</li>
        <li>Benutzt die Siemens weltweit das gleiche Modell oder gibt es da Unterschiede?</li>
        <li>Wieviele Interessenten gibt es pro Monat?</li>
        <li>Was sind die drei häufigsten Gründe für die Reservation des Wagens?</li>
        <li>Ist es kompliziert eine Reservation zu machen oder gibt es dafür ein online-Formular?</li>
        <li>Darf das Auto nur an offizielen Ladestationen aufgeladen werden oder gibt es da Spielraum?</li>
        <li>Wieviele Ladestationen bietet die Siemens schweizweit an?</li>
        <li>Lohnte sich die Anschaffung des Wagen für die Siemens?</li>
        <li>Wird sich die Siemens in Zukunft weitere Modelle kaufen?</li>
        <li>Würden sie sich persönlich ein Elektroauto kaufen?</li>
    </ul>
    <h1>Interview</h1>
    <div class="interview">
        <h2>Was ist Ihre Aufgabe in Bezug auf das Elektroauto?</h2>
        <p></p>
    </div>
    <div class="interview">
        <h2>Wie viel Aufwand benötigt die Administration insgesamt und was sind die grössten Schwerpunkte auf die Sie sich fokusieren müssen?</h2>
        <p></p>
    </div>
    <div class="interview">
        <h2>Warum haben sie sich konkret für den BMW i3 entschieden und nicht für ein anderes Modell. Wer hat die entscheidung getroffen und was waren die Gründe dahinter?</h2>
        <p></p>
    </div>
    <div class="interview">
        <h2>Wieviele Modelle des BMW i3's besitzt die Siemens Schweiz?</h2>
        <p></p>
    </div>
    <div class="interview">
        <h2>Wieviele Elektrowagen besitzt die Siemens weltweit.</h2>
        <p></p>
    </div>
    <div class="interview">
        <h2>Benutzt die Siemens weltweit das gleiche Modell oder gibt es da Unterschiede?</h2>
        <p></p>
    </div>
    <div class="interview">
        <h2>Wieviele Interessenten gibt es pro Monat?</h2>
        <p></p>
    </div>
    <div class="interview">
        <h2>Was sind die drei häufigsten Gründe für die Reservation des Wagens?</h2>
        <p></p>
    </div>
    <div class="interview">
        <h2>Ist es kompliziert eine Reservation zu machen oder gibt es dafür ein online-Formular?</h2>
        <p></p>
    </div>
    <div class="interview">
        <h2>Darf das Auto nur an offizielen Ladestationen aufgeladen werden oder gibt es da Spielraum?</h2>
        <p></p>
    </div>
    <div class="interview">
        <h2>Wieviele Ladestationen bietet die Siemens schweizweit an?</h2>
        <p></p>
    </div>
    <div class="interview">
        <h2>Lohnte sich die Anschaffung des Wagen für die Siemens?</h2>
        <p></p>
    </div>
    <div class="interview">
        <h2>Wird sich die Siemens in Zukunft weitere Modelle kaufen?</h2>
        <p></p>
    </div>
    <div class="interview">
        <h2>Würden sie sich persönlich ein Elektroauto kaufen?</h2>
        <p></p>
    </div>
</div>
