<div class="section">
    <h1>Über uns</h1>
    <p>
        Wir sind eine Gruppe von 3 Schülern der Technischen Berufsschule in Zürich. Wir absolvieren eine Berufslehre als Informatiker in der Fachrichtung Applikationsentwicklung.
    </p>
    <p>
        Diese Seite ist unsere Vertiefungsarbeit im Fach Allgemeinbildung.
    </p>
    <img src="/tbz.jpg">
    <h1>Vertiefungsarbeit</h1>
    <p>
        Der Auftrag war, eine kleine bis Mittelgrosse Arbeit zu schreiben. Das Thema dazu konnte frei gewählt werden, musste aber folgenden Rahmenbedingungen entsprechen:
    </p>
    <ul>
        <li>Das Thema muss etwas mit der Umwelt zu tun haben</li>
        <li>Es muss ein Interview durchgeführt werden</li>
    </ul>
    <p>
        Zusätzlich zu diesen Bedingungen haben wir uns selbst folgende Ziele gesetzt:
    </p>
    <ul>
        <li>Eine öffentlich zugängliche Webseite gestalten, auf der alles was in der Zusammenfassung geschrieben wurde beinhaltet ist.</li>
        <li>Wir werden einen Vergleich von Elektroautos und benzinbetriebenen Autos durchführen und dokumentieren.</li>
        <li>Eine Umfrage durchführen zur öffentlichen Meinung über Elektro-Autos und deren Gegenstück, die benzinbetriebenen Autos.</li>
    </ul>
    <h1>Arbeitsteilung</h1>
    <h1>Meilensteine</h1>
    <h1>Open Source</h1>
    <h1>Impressum</h1>
</div>
