<div class="section">
    <h1>Umfrage</h1>
    <h2>Untertitel</h2>
    <div class="card">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam dolorum laboriosam, dolore quibusdam officia voluptas similique animi quidem eius, inventore, aperiam provident illum! Non exercitationem sed recusandae consequatur laudantium dolores!
        </p>
        <span>Peter Markus</span>
    </div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, quasi!
    </p>
    <hr>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos cum, quod, sunt rerum dicta dolor id iure consectetur neque similique atque earum, dolorum minus nostrum harum, rem aliquid voluptatem et.
    </p>
</div>
<div class="section">
    <h1>Umfrage</h1>
    <div class="card">
        This is the second card.
    </div>
</div>
